   <div>
    <p> Men's Sandal size guide.</p>
    <div class="row">
     <div class="col-md-4">
      <img class="img-responsive" src="/images/temp/pdp/size-guide.png">
     </div>
     <div class="col-md-8">
      <p> What's the right size for me?</p>
      <table class="table table--striped">
  <tbody><tr>
    <th>India/UK Size</th>
    <th>Europe Size</th>
    <th>Length (cm)</th>
    <th>Length (Inches)</th>
  </tr>
  </tbody><tbody> 
  <tr>
    <td>7</td>
    <td>40.5</td>
    <td>26</td>
    <td>10.2</td>
  </tr>
  <tr>
    <td>8</td>
    <td>42</td>
    <td>27</td>
    <td>10.6</td>
</tr>
  <tr>
    <td>9</td>
    <td>43</td>
    <td>28</td>
    <td>11</td>
</tr>
  <tr>
    <td>10</td>
    <td>44.5</td>
    <td>29</td>
    <td>11.4</td>
  </tr>
</tr>
   </tbody>
</table>
     </div>
    </div>
   </div>